<p>tag works!</p>

Ajouter un tag

Libellé <input [(ngModel)]="libelle"><br><br>

<button (click)="addTag()">Créer un Tag</button><br><br>


Le tag entré est {{libelle}} <br>

<br><br>

Liste des tags

<br><br>


<ng-container #tagsContainer >
    <ul>
        <li *ngFor="let col of tags"> {{ col.libelle }} </li>
    </ul>
</ng-container>




<table mdbTable class="z-depth-1">
    <thead class="sticky-top">
    <tr>
      <th *ngFor="let head of tags; let i = index"  >
      </th>
    </tr>
    </thead>
    <tbody #row>
    <tr mdbTableCol *ngFor="let el of tags; let i = index">
      <th  scope="row">Libelle</th>
      <td  class="red-text">{{el.libelle}}</td>
    </tr>
    </tbody>
  </table>



