<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-primary" [containerInside]="false">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">Kanbanboard App</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a routerLink="/collaborateur" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>Collaborateur<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a routerLink="/tag" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>Tag</a>
      </li>
      <li class="nav-item">
        <a routerLink="/tableaukanban" routerLinkActive="active" class="nav-link waves-light" mdbWavesEffect>Tableau Kanban</a>
      </li>

      <!-- Dropdown -->
      <li class="nav-item dropdown" dropdown hidden>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Basic dropdown<span class="caret"></span></a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Another action</a>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Something else here</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Separated link</a>
        </div>
      </li>

    </ul>
    <!-- Links -->

    <!-- Search form -->
    <form class="form-inline waves-light" mdbWavesEffect>
      <div class="md-form my-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search">
      </div>
    </form>
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->






<!-- The routed views render in the <router-outlet>-->
  <router-outlet>


  </router-outlet>






<!-- <div >
  <h1>
   {{ title }}!
  </h1>


  Composant Collaborateur

  <app-collaborateur></app-collaborateur>


  <br>  <br>  <br>  <br>

  Composant TAG

  <app-tag></app-tag>



  <br>  <br>  <br>  <br>

  Composant Tableau Kanban

  <app-tableau-kanban></app-tableau-kanban>

</div> -->
